PP4/PP4.ConsoleTest/Connected Services/ServiceReference1/WebService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="AddPerson">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Identification" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Mail" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddPersonResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddPersonResult" type="tns:Person" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Person">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID_Person" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Identification" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Mail" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Ind_User" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="Points" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="DeletePerson">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeletePersonResponse">
        <s:complexType />
      </s:element>
      <s:element name="UpdatePerson">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Identification" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Mail" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdatePersonResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetPerson">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPersonResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPersonResult" type="tns:Person" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllPeople">
        <s:complexType />
      </s:element>
      <s:element name="GetAllPeopleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllPeopleResult" type="tns:ArrayOfPerson" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfPerson">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Person" nillable="true" type="tns:Person" />
        </s:sequence>
      </s:complexType>
      <s:element name="AddRoom">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Capacity" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="State" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddRoomResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddRoomResult" type="tns:Room" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Room">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID_Room" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Capacity" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="State" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="UpdateRoom">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ID_Room" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Capacity" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="State" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateRoomResponse">
        <s:complexType />
      </s:element>
      <s:element name="DeleteRoom">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteRoomResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetRoom">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRoomResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetRoomResult" type="tns:Room" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllRooms">
        <s:complexType />
      </s:element>
      <s:element name="GetAllRoomsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllRoomsResult" type="tns:ArrayOfRoom" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfRoom">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Room" nillable="true" type="tns:Room" />
        </s:sequence>
      </s:complexType>
      <s:element name="AddSchedule">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Day" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="State" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddScheduleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddScheduleResult" type="tns:Schedule" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Schedule">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID_Schedule" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Day" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="State" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="UpdateSchedule">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ID_Schedule" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="Day" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="State" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateScheduleResponse">
        <s:complexType />
      </s:element>
      <s:element name="DeleteSchedule">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteScheduleResponse">
        <s:complexType />
      </s:element>
      <s:element name="AddSeat">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ID_Room" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Description_Seat" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Row" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Number" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="Price" type="s:decimal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddSeatResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddSeatResult" type="tns:Seat" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Seat">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID_Seat" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ID_Room" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Description_Seat" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Row" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Number" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Price" type="s:decimal" />
        </s:sequence>
      </s:complexType>
      <s:element name="UpdateSeat">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ID_Seat" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="ID_Room" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Description_Seat" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Row" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Number" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="Price" type="s:decimal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateSeatResponse">
        <s:complexType />
      </s:element>
      <s:element name="DeleteSeat">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteSeatResponse">
        <s:complexType />
      </s:element>
      <s:element name="AddPurchase">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ID_Batch" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="ID_Person" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="Date_Purchase" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddPurchaseResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddPurchaseResult" type="tns:Purchase" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Purchase">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID_Purchase" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ID_Batch" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ID_Person" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Date_Purchase" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:element name="UpdatePurchase">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ID_Purchase" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="ID_Batch" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="ID_Person" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="Date_Purchase" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdatePurchaseResponse">
        <s:complexType />
      </s:element>
      <s:element name="DeletePurchase">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeletePurchaseResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AddPersonSoapIn">
    <wsdl:part name="parameters" element="tns:AddPerson" />
  </wsdl:message>
  <wsdl:message name="AddPersonSoapOut">
    <wsdl:part name="parameters" element="tns:AddPersonResponse" />
  </wsdl:message>
  <wsdl:message name="DeletePersonSoapIn">
    <wsdl:part name="parameters" element="tns:DeletePerson" />
  </wsdl:message>
  <wsdl:message name="DeletePersonSoapOut">
    <wsdl:part name="parameters" element="tns:DeletePersonResponse" />
  </wsdl:message>
  <wsdl:message name="UpdatePersonSoapIn">
    <wsdl:part name="parameters" element="tns:UpdatePerson" />
  </wsdl:message>
  <wsdl:message name="UpdatePersonSoapOut">
    <wsdl:part name="parameters" element="tns:UpdatePersonResponse" />
  </wsdl:message>
  <wsdl:message name="GetPersonSoapIn">
    <wsdl:part name="parameters" element="tns:GetPerson" />
  </wsdl:message>
  <wsdl:message name="GetPersonSoapOut">
    <wsdl:part name="parameters" element="tns:GetPersonResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllPeopleSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllPeople" />
  </wsdl:message>
  <wsdl:message name="GetAllPeopleSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllPeopleResponse" />
  </wsdl:message>
  <wsdl:message name="AddRoomSoapIn">
    <wsdl:part name="parameters" element="tns:AddRoom" />
  </wsdl:message>
  <wsdl:message name="AddRoomSoapOut">
    <wsdl:part name="parameters" element="tns:AddRoomResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateRoomSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateRoom" />
  </wsdl:message>
  <wsdl:message name="UpdateRoomSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateRoomResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteRoomSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteRoom" />
  </wsdl:message>
  <wsdl:message name="DeleteRoomSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteRoomResponse" />
  </wsdl:message>
  <wsdl:message name="GetRoomSoapIn">
    <wsdl:part name="parameters" element="tns:GetRoom" />
  </wsdl:message>
  <wsdl:message name="GetRoomSoapOut">
    <wsdl:part name="parameters" element="tns:GetRoomResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllRoomsSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllRooms" />
  </wsdl:message>
  <wsdl:message name="GetAllRoomsSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllRoomsResponse" />
  </wsdl:message>
  <wsdl:message name="AddScheduleSoapIn">
    <wsdl:part name="parameters" element="tns:AddSchedule" />
  </wsdl:message>
  <wsdl:message name="AddScheduleSoapOut">
    <wsdl:part name="parameters" element="tns:AddScheduleResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateScheduleSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateSchedule" />
  </wsdl:message>
  <wsdl:message name="UpdateScheduleSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateScheduleResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteScheduleSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteSchedule" />
  </wsdl:message>
  <wsdl:message name="DeleteScheduleSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteScheduleResponse" />
  </wsdl:message>
  <wsdl:message name="AddSeatSoapIn">
    <wsdl:part name="parameters" element="tns:AddSeat" />
  </wsdl:message>
  <wsdl:message name="AddSeatSoapOut">
    <wsdl:part name="parameters" element="tns:AddSeatResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateSeatSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateSeat" />
  </wsdl:message>
  <wsdl:message name="UpdateSeatSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateSeatResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteSeatSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteSeat" />
  </wsdl:message>
  <wsdl:message name="DeleteSeatSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteSeatResponse" />
  </wsdl:message>
  <wsdl:message name="AddPurchaseSoapIn">
    <wsdl:part name="parameters" element="tns:AddPurchase" />
  </wsdl:message>
  <wsdl:message name="AddPurchaseSoapOut">
    <wsdl:part name="parameters" element="tns:AddPurchaseResponse" />
  </wsdl:message>
  <wsdl:message name="UpdatePurchaseSoapIn">
    <wsdl:part name="parameters" element="tns:UpdatePurchase" />
  </wsdl:message>
  <wsdl:message name="UpdatePurchaseSoapOut">
    <wsdl:part name="parameters" element="tns:UpdatePurchaseResponse" />
  </wsdl:message>
  <wsdl:message name="DeletePurchaseSoapIn">
    <wsdl:part name="parameters" element="tns:DeletePurchase" />
  </wsdl:message>
  <wsdl:message name="DeletePurchaseSoapOut">
    <wsdl:part name="parameters" element="tns:DeletePurchaseResponse" />
  </wsdl:message>
  <wsdl:portType name="WebService1Soap">
    <wsdl:operation name="AddPerson">
      <wsdl:input message="tns:AddPersonSoapIn" />
      <wsdl:output message="tns:AddPersonSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeletePerson">
      <wsdl:input message="tns:DeletePersonSoapIn" />
      <wsdl:output message="tns:DeletePersonSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePerson">
      <wsdl:input message="tns:UpdatePersonSoapIn" />
      <wsdl:output message="tns:UpdatePersonSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPerson">
      <wsdl:input message="tns:GetPersonSoapIn" />
      <wsdl:output message="tns:GetPersonSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllPeople">
      <wsdl:input message="tns:GetAllPeopleSoapIn" />
      <wsdl:output message="tns:GetAllPeopleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddRoom">
      <wsdl:input message="tns:AddRoomSoapIn" />
      <wsdl:output message="tns:AddRoomSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateRoom">
      <wsdl:input message="tns:UpdateRoomSoapIn" />
      <wsdl:output message="tns:UpdateRoomSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteRoom">
      <wsdl:input message="tns:DeleteRoomSoapIn" />
      <wsdl:output message="tns:DeleteRoomSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetRoom">
      <wsdl:input message="tns:GetRoomSoapIn" />
      <wsdl:output message="tns:GetRoomSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllRooms">
      <wsdl:input message="tns:GetAllRoomsSoapIn" />
      <wsdl:output message="tns:GetAllRoomsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddSchedule">
      <wsdl:input message="tns:AddScheduleSoapIn" />
      <wsdl:output message="tns:AddScheduleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateSchedule">
      <wsdl:input message="tns:UpdateScheduleSoapIn" />
      <wsdl:output message="tns:UpdateScheduleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteSchedule">
      <wsdl:input message="tns:DeleteScheduleSoapIn" />
      <wsdl:output message="tns:DeleteScheduleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddSeat">
      <wsdl:input message="tns:AddSeatSoapIn" />
      <wsdl:output message="tns:AddSeatSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateSeat">
      <wsdl:input message="tns:UpdateSeatSoapIn" />
      <wsdl:output message="tns:UpdateSeatSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteSeat">
      <wsdl:input message="tns:DeleteSeatSoapIn" />
      <wsdl:output message="tns:DeleteSeatSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddPurchase">
      <wsdl:input message="tns:AddPurchaseSoapIn" />
      <wsdl:output message="tns:AddPurchaseSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePurchase">
      <wsdl:input message="tns:UpdatePurchaseSoapIn" />
      <wsdl:output message="tns:UpdatePurchaseSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeletePurchase">
      <wsdl:input message="tns:DeletePurchaseSoapIn" />
      <wsdl:output message="tns:DeletePurchaseSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService1Soap" type="tns:WebService1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddPerson">
      <soap:operation soapAction="http://tempuri.org/AddPerson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletePerson">
      <soap:operation soapAction="http://tempuri.org/DeletePerson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePerson">
      <soap:operation soapAction="http://tempuri.org/UpdatePerson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPerson">
      <soap:operation soapAction="http://tempuri.org/GetPerson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllPeople">
      <soap:operation soapAction="http://tempuri.org/GetAllPeople" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddRoom">
      <soap:operation soapAction="http://tempuri.org/AddRoom" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateRoom">
      <soap:operation soapAction="http://tempuri.org/UpdateRoom" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteRoom">
      <soap:operation soapAction="http://tempuri.org/DeleteRoom" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRoom">
      <soap:operation soapAction="http://tempuri.org/GetRoom" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllRooms">
      <soap:operation soapAction="http://tempuri.org/GetAllRooms" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddSchedule">
      <soap:operation soapAction="http://tempuri.org/AddSchedule" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateSchedule">
      <soap:operation soapAction="http://tempuri.org/UpdateSchedule" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteSchedule">
      <soap:operation soapAction="http://tempuri.org/DeleteSchedule" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddSeat">
      <soap:operation soapAction="http://tempuri.org/AddSeat" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateSeat">
      <soap:operation soapAction="http://tempuri.org/UpdateSeat" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteSeat">
      <soap:operation soapAction="http://tempuri.org/DeleteSeat" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddPurchase">
      <soap:operation soapAction="http://tempuri.org/AddPurchase" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePurchase">
      <soap:operation soapAction="http://tempuri.org/UpdatePurchase" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletePurchase">
      <soap:operation soapAction="http://tempuri.org/DeletePurchase" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService1Soap12" type="tns:WebService1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddPerson">
      <soap12:operation soapAction="http://tempuri.org/AddPerson" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletePerson">
      <soap12:operation soapAction="http://tempuri.org/DeletePerson" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePerson">
      <soap12:operation soapAction="http://tempuri.org/UpdatePerson" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPerson">
      <soap12:operation soapAction="http://tempuri.org/GetPerson" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllPeople">
      <soap12:operation soapAction="http://tempuri.org/GetAllPeople" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddRoom">
      <soap12:operation soapAction="http://tempuri.org/AddRoom" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateRoom">
      <soap12:operation soapAction="http://tempuri.org/UpdateRoom" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteRoom">
      <soap12:operation soapAction="http://tempuri.org/DeleteRoom" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRoom">
      <soap12:operation soapAction="http://tempuri.org/GetRoom" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllRooms">
      <soap12:operation soapAction="http://tempuri.org/GetAllRooms" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddSchedule">
      <soap12:operation soapAction="http://tempuri.org/AddSchedule" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateSchedule">
      <soap12:operation soapAction="http://tempuri.org/UpdateSchedule" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteSchedule">
      <soap12:operation soapAction="http://tempuri.org/DeleteSchedule" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddSeat">
      <soap12:operation soapAction="http://tempuri.org/AddSeat" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateSeat">
      <soap12:operation soapAction="http://tempuri.org/UpdateSeat" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteSeat">
      <soap12:operation soapAction="http://tempuri.org/DeleteSeat" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddPurchase">
      <soap12:operation soapAction="http://tempuri.org/AddPurchase" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePurchase">
      <soap12:operation soapAction="http://tempuri.org/UpdatePurchase" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletePurchase">
      <soap12:operation soapAction="http://tempuri.org/DeletePurchase" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService1">
    <wsdl:port name="WebService1Soap" binding="tns:WebService1Soap">
      <soap:address location="https://localhost:44374/WebService1.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService1Soap12" binding="tns:WebService1Soap12">
      <soap12:address location="https://localhost:44374/WebService1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>